.header {
    width: 85%;
    height: 700px;
    margin-top: 200px;
    font-size: 140px;
    font-family:  'Arial Narrow', Arial, sans-serif;
    position: relative;
    z-index: 5;
  }
  
  .flower-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between;
  }


