.fall-single{
    transform: translateY(100px);
    opacity: 0;
    transition-delay: initial !important;
    transition-timing-function: cubic-bezier(0.750, -0.015, 0.565, 1.055);
    transition: transform .3s , opacity .3s !important;
}

.fall-single * {
    display: none;
}

.animate-singel{
    animation-name: move ;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-delay: calc(0.055 * var(--i));
}

@keyframes move {
    0%{
   transform: translateX(-50px);
    }
   50%{
    transform: translateX(0px);
   }
    100%{
    transform: translateX(50px);
    }
}