.tooltip-container {
    --t-width: 250px;
    --t-height: 250px;
    --content-z-index: 2;
    --bg-z-index: 1;

    /* 3d transfromation and adding z axios to children elements  */
    perspective: 800px;

    /* Tooltip settings */
    width: var(--t-width);
    height: var(--t-height);

    /* Postion to flawer */

    position: absolute;
    top: -60px;
    left: 40px;

    /* Tooltip aniamtio setting */
    transition: opacity 1s;
    opacity: 0;

    /* Block display of container so its not floating other images */
    display: none;
}

.tooltip-container .tooltip-wrapper {
    position: relative;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;

    transition: all 1s;
    transition-timing-function: cubic-bezier(0.750, -0.015, 0.565, 1.055);
}

.tooltip-wrapper .front,
.tooltip-wrapper .back {
    position: absolute;
    backface-visibility: hidden;
    width: inherit;
    height: inherit;

}

.tooltip-wrapper .front {
    z-index: 1;
}

/* Set it to back by rotating Y axios 180 deg this will remove backfrowerd  */
.tooltip-wrapper .back {
    transform: rotateY(180deg);
    transition: opacity 1s;
    transition-timing-function: cubic-bezier(0.750, -0.015, 0.565, 1.055);
}


/* Content  of tooltip */

.tooltip-wrapper .content {
    position: relative;
    color: white;
    width: inherit;
    height: inherit;
}

.tooltip-wrapper .content .content-text {
    position: relative;
    z-index: var(--content-z-index);
    transform: translate(10px, 20px);
    font-size: 1.2rem;
    text-align: center;

    line-height: 1.4;

}

.tooltip-wrapper .content .content-text span:not(:last-child) {
    display: inline-block;
    margin-right: 5px;
}

.tooltip-wrapper .content .content-text span:last-child {
    display: block;
}

.tooltip-wrapper .content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../imags/tbg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    bottom: 0;
    z-index: var(--bg-z-index);
}


/* Backface */

.back .avatar img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

/* Display tooltip */

.t-show {
    opacity: 1;
}

/* Hide tooltip */
.t-hide {
    opacity: 0;
}

/* Flip  */
.t-flip {
    transform: rotateY(180deg);
}

/* Force hide tooltip */

.force-hide {
    opacity: 0 !important;
    transition: initial !important;
}