
/* App.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.section-image{
  height: 100%;
}

.sections {
    width: 100%;
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
    align-items: center;
    z-index: 1;
}
.dash{
    margin-right: 15px;
    color: #fff;
    transform: translateY(-80px);
    
}

.section {
    width: 98%;
    flex-direction: column;
    align-items: center;
    display: flex;
    /* overflow: hidden; */
    position: relative;
    padding-right: 18px;
    padding-bottom: 50px;
    height: auto; /* Allow the section to adjust its height based on image positions */
}


/* Style for the section number */
.section-number {
    position: absolute;
    right: 0px;
    color: white;
    height: 100%;
    width: 6%;
    background: #0c0c0c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px rgb(167, 7, 7) solid;
   /* */
}
.numImages{
    color: darkred;
    animation: both;
}
.section-numberT{
    /* transform: rotate(-90deg); */
    color: rgb(240, 241, 246);
    font-size: 22px;
    font-weight: bold;
}


.section-image {
    width: 93%;
    display: block;
    position: relative;
    margin: 10px;
    padding: 10px;
}

.section-img {
    max-height: 150px;
    width: auto;
    display: block;
    position: absolute;
}
.zigzag-border {
  background: linear-gradient(135deg, transparent 2px, rgb(184, 4, 4) 5px, rgb(202, 3, 3) 10px, transparent 15px);
  height: 100%;
  background-size: 10px 1px; /* Adjust the size of the zigzag pattern */
}


.title {
    font-weight: 10;
    font-size: 1.3vw;
    margin: 0;
    filter: url(#goo);
    position: relative;
    letter-spacing: -.12em;
    color: red;
    text-transform: uppercase;
  }

  
  @keyframes blood-drip {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .drop {
    width: .25em; height: .25em;
    border-radius: 0 100% 100% 100%;
    background-color: red;
    position: absolute;
    top: 72%;
    animation: drop 4s infinite both;
  
    &:nth-child(1) {
      left: 14%;
    }
  
    &:nth-child(2) {
      left: 19%;
      animation-delay: -1.8s;
    }
  
    &:nth-child(3) {
      left: 55%;
      animation-delay: -1.5s;
    }
  
    &:nth-child(4) {
      left: 82%;
      animation-delay: -.5s;
    }
  
    &:nth-child(5) {
      left: 55.5%;
      animation-delay: -2.3s;
    }
  }
  
  @keyframes drop {
    0% {
      transform: translateY(0) scaleX(.85) rotate(360deg);
      animation-timing-function: ease-out;
    }
    60% {
      transform: translateY(120%) scaleX(.85) rotate(360deg);
      animation-timing-function: ease-in;
    }
    80%, 100% {
      transform: translateY(60vh) scaleX(.85) rotate(45deg);
    }
  }
  .tooltip {
    --r: 30px; /* control the radius */
    --h: 50px; /* control the height of the tail */
    --p: 30%;  /* control the position of the tail */
  
    padding: var(--r);
    border-bottom: var(--h) solid #0000;
    --m:
      /* adjust the angles of the 1st conic-gradient to control the shape */
      conic-gradient(from 30deg at var(--p) 100%,#0000,#000 1deg 30deg,#0000 31deg)
       0 100%/100% calc(100% - var(--r)) no-repeat,
      conic-gradient(at calc(var(--r)/2) calc(var(--r)/2),#000 270deg,#0000 0)
       0 0/calc(100% - var(--r)/2) calc(100% - var(--r)/2) padding-box,
      radial-gradient(50% 50%,#000 98%,#0000) 
       0 0/var(--r) var(--r) space padding-box;
    -webkit-mask: var(--m);
            mask: var(--m);
    
      
    margin: 50px auto;
    max-width: 350px;
    font-size: 20px;
    background: linear-gradient(135deg,#FE6D00,#1384C5) border-box;
    color: #fff;
  }